<div class="container"></div>
<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class= "text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="60"
  [radius]="100"
  [imageSrc]="'../assets/html5.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'black'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>
    </div>

    <div class= "text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
      [percent]="50"
      [radius]="100"
      [imageSrc]="'../assets/css3.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'black'"
      [innerStrokeColor]="'black'"
      [animation]="true"
      [animationDuration]="1000"
    ></circle-progress>
        </div>

        <div class= "text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
          [percent]="55"
          [radius]="100"
          [imageSrc]="'../assets/js.png'"
          [showImage]="true"
          [imageHeight]="100"
          [imageWidth]="100"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'black'"
          [innerStrokeColor]="'black'"
          [animation]="true"
          [animationDuration]="1000"
        ></circle-progress>
            </div>

            <div class= "text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
              [percent]="45"
              [radius]="100"
              [imageSrc]="'../assets/java.png'"
              [showImage]="true"
              [imageHeight]="100"
              [imageWidth]="100"
              [showUnits]="false"
              [showSubtitle]="false"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'black'"
              [innerStrokeColor]="'black'"
              [animation]="true"
              [animationDuration]="1000"
            ></circle-progress>
                </div>

                <div class= "text-center col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                  [percent]="45"
                  [radius]="100"
                  [imageSrc]="'../assets/angular.png'"
                  [showImage]="true"
                  [imageHeight]="100"
                  [imageWidth]="100"
                  [showUnits]="false"
                  [showSubtitle]="false"
                  [outerStrokeWidth]="16"
                  [innerStrokeWidth]="8"
                  [outerStrokeColor]="'black'"
                  [innerStrokeColor]="'black'"
                  [animation]="true"
                  [animationDuration]="1000"
                ></circle-progress>
                    </div>

                    <div class= "text-center col-sm-4 col-md-4 col-lg-4">
                        <circle-progress
                      [percent]="60"
                      [radius]="100"
                      [imageSrc]="'../assets/mysql.png'"
                      [showImage]="true"
                      [imageHeight]="100"
                      [imageWidth]="100"
                      [showUnits]="false"
                      [showSubtitle]="false"
                      [outerStrokeWidth]="16"
                      [innerStrokeWidth]="8"
                      [outerStrokeColor]="'black'"
                      [innerStrokeColor]="'black'"
                      [animation]="true"
                      [animationDuration]="1000"
                    ></circle-progress>
                        </div>

                        <div class= "text-center col-sm-4 col-md-4 col-lg-4">
                            <circle-progress
                          [percent]="70"
                          [radius]="100"
                          [imageSrc]="'../assets/english.png'"
                          [showImage]="true"
                          [imageHeight]="100"
                          [imageWidth]="100"
                          [showUnits]="false"
                          [showSubtitle]="false"
                          [outerStrokeWidth]="16"
                          [innerStrokeWidth]="8"
                          [outerStrokeColor]="'black'"
                          [innerStrokeColor]="'black'"
                          [animation]="true"
                          [animationDuration]="1000"
                        ></circle-progress>
                            </div>

                            <div class= "text-center col-sm-4 col-md-4 col-lg-4">
                                <circle-progress
                              [percent]="70"
                              [radius]="100"
                              [imageSrc]="'../assets/githubskill.png'"
                              [showImage]="true"
                              [imageHeight]="100"
                              [imageWidth]="100"
                              [showUnits]="false"
                              [showSubtitle]="false"
                              [outerStrokeWidth]="16"
                              [innerStrokeWidth]="8"
                              [outerStrokeColor]="'black'"
                              [innerStrokeColor]="'black'"
                              [animation]="true"
                              [animationDuration]="1000"
                            ></circle-progress>
                                </div>

                                <div class= "text-center col-sm-4 col-md-4 col-lg-4">
                                    <circle-progress
                                  [percent]="85"
                                  [radius]="100"
                                  [imageSrc]="'../assets/collaborate.png'"
                                  [showImage]="true"
                                  [imageHeight]="100"
                                  [imageWidth]="100"
                                  [showUnits]="false"
                                  [showSubtitle]="false"
                                  [outerStrokeWidth]="16"
                                  [innerStrokeWidth]="8"
                                  [outerStrokeColor]="'black'"
                                  [innerStrokeColor]="'black'"
                                  [animation]="true"
                                  [animationDuration]="1000"
                                ></circle-progress>
                                   </div>                                    
</div>

   