<div class="container"></div>
    <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotodmr.jpeg" class="img-fluid" id="foto">
     </div>
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
     <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
     <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Sobre mí</h1>
            <p> Hola, mi nombre es Darío, tengo 43 años, Soy hipoacúsico y uso audífonos con los cuales no tengo una pérdida de audición tan marcada.
                Actualmente deje de trabajar en el rubro de fletes tarea que realice los últimos 7 años para dedicarme full time a cumplir mi sueño de siempre que fue dedicarme a la programación.
                Soy una persona muy responsable con una gran capacidad para el aprendizaje, análisis crítico y resolución de problemas complejos en forma creativa.
                Quiero destacar que me agrada trabajar en equipo, cooperando con todos y todas ayudando de la mejor manera posible, siento una gran satisfacción enseñando y aprendiendo al mismo tiempo.
                Gracias a la oportunidad que me dieron para estudiar en Argentina Programa considere con fuerte énfasis que era posible por lo cual le pongo todo mi compromiso dedicándome varias horas por día a cumplir mi sueño.
                En mis tiempos libres me gusta mantenerme informado de lo que pasa en el mundo IT, seguir mejorando mis conocimientos en lenguajes de programación y estar con mi familia.</p>
        </span>
    </div>
    </div>
