<div class="container"></div>
<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
                  
        <div class="redessociales">
                <a href="https://www.linkedin.com/in/darío-marcelo-rosiansky" target="_blank" rel="noopener noreferrer"><img style="margin:10px" src="../../../assets/linkedin.png" id="linkedin" target="_blank"></a>
                <a href="https://github.com/DarioMRosiansky" target="_blank" rel="noopener noreferrer"><img style="margin:10px" src="../../../assets/github.png" id="github" target="_blank"></a>
                <a href="https://drive.google.com/file/d/1LDx1rIJVFIKqGX0YLfyj8AuWk3lj8rR4/view?usp=sharing" target="_blank" rel="noopener noreferrer"><img style="margin:10px" src="../../../assets/CV.png" id="cv"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()"*ngIf="!isLogged">Ingresar</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()"*ngIf="isLogged">Cerrar Sesion</button>
            </div>
            



        </div>
    </div>



